* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #f6ece1;
	color: #222222;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.2;
	padding: 25px;
}

header {
	font-size: 18px;
	background: #ece3dd;
}

footer {
	background: #ece3dd;
	line-height: 1.4;
	text-align: center;
}

nav a {
	color: #000000;
	font-style: italic;
	text-decoration: none;
	margin-right: 20px;
}

h3 {
	margin-top: 20px;
	margin-bottom: 20px;
}

aside {
	float: right;
}

#slogan {
	font-style: italic;
	font-weight: 800;
	font-size: 130%;
}

.art_gallery {
	width: 50%;
}
#intro {
    background: url(../images/art_gallery.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    padding: 10em 0 0 10em;
}
